/* HEADER */

/*PAGE 1*/
.wp-image-82 {
    background-color: white;
}


/*PAGE 2*/
.wp-image-229 {
    background-color: #ECE2DA;
}



.wp-block-uagb-container {
    position: relative;
}

.wp-image-221 {
    position: absolute;
    margin-left: 145px;
    margin-top: 150px;


}

.wp-elements-795efa37b9c36f21451562e395e45e1e {
    position: absolute;
    margin-top: 196px;

}


.wpcf7 {
    width: 390px;
    display: flex;
    justify-content: center;

}

.wpcf7-textarea {
    height: 240px;
    position: relative;
    z-index: 2;
}

.wp-image-445 {
    position: absolute;
    left: 664px;
    bottom: 10px;
    z-index: 1;

}

.wp-block-button__link {
    width: 200px;
    height: 55px;
}





/*PAGE 3*/



/*FOOTER*/

/* .site-below-footer-wrap {
    height: 20px;
} */


/*mobile*/

@media (max-width: 959px) { 
    .wpcf7-textarea {
        height: 240px;
        position: relative;
        z-index: 2;
    }
    
    .wp-image-445 {
        position: absolute;
        left: 195px;
        bottom: 10px;
        z-index: 1;
    
    }


 }