/* HEADER */

/*PAGE 1*/
.wp-image-82 {
    background-color: white;
}


/*PAGE 2*/
.wp-image-229 {
    background-color: #ECE2DA;
}



/* .wp-image-76 {
    flex-shrink: 0;
} */

 .wp-image-221 {
    margin-left: 200px;
    margin-top: 200px;
    z-index: 30;
    position: relative;
   
}
.wp-elements-f7ae436147f7e7154d671d8cb18e1f7c {
    z-index: 20;
    position: relative;

} 


.wpcf7  {
    width: 390px;
    display: flex;
    justify-content: center;
    
}

.wpcf7-textarea{
    height: 240px;
}

 .wp-block-button__link {
    width: 200px;
    height: 55px;
 }

/* .wp-image-221 {
 display: flex;
 justify-content: center;

} */

/*PAGE 3*/

/* div.wpforms-container-full input[type=submit],
div.wpforms-container-full button[type=submit],
div.wpforms-container-full .wpforms-page-button {
    height: 0
} 

div.wpforms-container-full .wpforms-field-label {
    color: white;
    font-family: 'Syne';
    font-weight: 400;
    
}*/

/*FOOTER*/

/* .site-below-footer-wrap {
    height: 20px;
} */